# MangoPay Node.js SDK Documentation

## Services
* [CardPreAuthorizations](CardPreAuthorizations.md)
* [CardRegistrations](CardRegistrations.md)
* [Cards](Cards.md)
* [DisputeDocuments](DisputeDocuments.md)
* [Disputes](Disputes.md)
* [Events](Events.md)
* [Hooks](Hooks.md)
* [KycDocuments](KycDocuments.md)
* [PayIns](PayIns.md)
* [PayOuts](PayOuts.md)
* [Refunds](Refunds.md)
* [Responses](Responses.md)
* [Transfers](Transfers.md)
* [Users](Users.md)
* [Wallets](Wallets.md)

## All available functions
| Function | Description | Source Code |
| -------- | ----------- | ----------- |
{{#functions}}
    {{> function}}

{{/functions}}